<ion-view view-title="地面系统重要工作状态" style="background: rgba(186, 182, 179, 0.33)">

    <ion-content overflow-scroll="true" style="overflow: hidden">

        <ion-scroll style="overflow: hidden;background: rgba(36, 73, 114, 0.96);align-content: center" direction="x">

            <div class="row row-no-padding" style="height: 100px;">
                <div class="spacol col-center col-33" ng-repeat="s in sensors" ng-click="instrument(s.id)">
                    <div class=" sensorButton " style="width: 100%;">
                        <!--<p>-->
                        <img style="width: 32px;height: 32px;margin:  auto;" ng-src="{{s.icon}}"/>

                        <div>
                            <font size="2" color="red" face="Arial">
                                {{s.fail}}
                            </font>

                            <font size="2" color="white">/</font>

                            <font size="2" color="#adff2f" face="Arial">
                                {{s.success}}
                            </font>
                        </div>
                        <font size="2" color="white" face="宋体">{{s.name}}</font>
                        <!--</p>-->
                    </div>
                </div>
            </div>

        </ion-scroll>

        <div ng-if="!(message == null)"
             style="width: 100%;background: white;height: 32px;padding-left: 10px;padding-top:5px;cursor:hand;vertical-align: middle;font-size: small;">
            <!--<img style="height: 20px;width: 20px;display: inline-block"-->
            <!--ng-src="../../img/error_32px_506692_easyicon.net.png"/>-->
            <div style="width:300px;overflow:hidden; white-space:nowrap; text-overflow:ellipsis;float:left;">
                <a style="font-family: 宋体;height: 22px;cursor:hand;"
                   href="#/tab/faultview">
                    {{message}}
                </a>
            </div>

        </div>

        <ion-scroll style="height: 100%;overflow: hidden;width: 100%;margin-top: 8px;">

            <div class="list">

                <div class="item item-divider">
                    分系统列表
                </div>

                <div class="row row-wrap row-no-padding" style="width: 100%">

                    <div class="col col-25 col-center" ng-repeat="s in systems">

                        <div style="position:absolute;width:25%;text-align: right;padding-right: 3px;z-index: 2;"
                             ng-if="s.fault != 0">
                            <label style="font-size: smaller;background-color: orangered;padding: 0px 2px;color: white;border-radius: 4px;border: 1px solid white">
                                {{s.fault}}
                            </label>
                        </div>

                        <a class="button  button-clear icon-top button-positive systemButton" href="#/tab/faultview"
                           style="z-index: 1">
                            <img style="height: 32px;width: 32px;margin-bottom: 5px" ng-src="{{s.icon}}"/>

                            <P>
                            <nobr><font color="black" face="宋体">{{s.name}}</font></nobr>
                            </P>
                        </a>

                    </div>

                    <div class="col col-25 col-center">
                        <a class="button  button-clear icon-top button-positive systemButton"
                           href="#/tab/subsystem/state/custom">
                            <img style="width: 32px;height: 32px;margin-bottom: 5px"
                                 ng-src="img/TreeListRegViewer.Icon.png"/>

                            <P>
                            <nobr><font color="black" face="宋体">自定义</font></nobr>
                            </P>
                        </a>
                    </div>
                </div>

            </div>
        </ion-scroll>

    </ion-content>


</ion-view>
