<ion-view view-title="{{instrumentName}}">
  <ion-content class="padding" >
    <ion-refresher pulling-text="下拉刷新" on-refresh="init()"></ion-refresher>
    <!--http://10.24.4.139:8080/fy3d/api/l1monitor/collect/l0static/20170328/MERSI2/dpt/ad/r-->
    <ion-list>
      <div ng-repeat="orbitmodel in orbitModels" class="div-full">
        <h5 style="font-family: 微软雅黑">
          轨道号:{{orbitmodel.orbNum}}
          总数:{{orbitmodel.total}}
          完成:{{orbitmodel.done}}
          错误:{{orbitmodel.error}}
        </h5>
        <ion-list >
          <div style="width:65px;font-family: Microsoft Yi Baiti;font-size: 13px;height:40px;margin-right:5px;line-height: 18PX ;margin-bottom:5px;background: {{ updateBackground(para.state) }}"
               class="button button-icon icon-top button-positive button-small "
               ng-repeat="para in orbitmodel.module"
               ng-click="getImageData()">
            <!--<img style="width: 32px;height: 32px" ng-src="img/ionic.png">-->
            {{updateTimeString(para.beginTime)}}
            {{updateTimeString(para.endTime)}}
          </div>
        </ion-list>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
