<ion-view view-title="Station">
  <ion-content>
    <ion-list >
      <!--<ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="station in stations" type="item-text-wrap" href="#/tab/station/{{station.name}}">-->
        <!--<img ng-src="{{station.icon}}">-->
        <!--<h2>{{station.title}}</h2>-->
        <!--&lt;!&ndash;<p>{{chat.lastText}}</p>&ndash;&gt;-->
        <!--<i class="icon ion-chevron-right icon-accessory"></i>-->

        <!--<ion-option-button class="button-assertive" ng-click="remove(chat)">-->
          <!--Delete-->
        <!--</ion-option-button>-->
      <!--</ion-item>-->
      <!--<ion-item class="item-remove-animate item-avatar item-icon-right">-->
        <!--<img ng-src="../img/2d-bar-side-by-side-stacked.png" height="32" width="32">-->
        <!--<h2>性能参数</h2>-->
      <!--</ion-item>-->
      <button class="button icon-top ion-star button-positive button-clear button-outline button-large" ng-click="buttonClick()" >Favorites</button>
      <button class="button icon-top ion-star button-positive">Favorites</button>
      <button class="button icon-top ion-star button-positive">Favorites</button>
    </ion-list>
  </ion-content>
</ion-view>
