<ion-view view-title="报警信息">

    <ion-content overflow-scroll="true">

        <ion-refresher pulling-text="下拉刷新数据" on-refresh="refreshData()"></ion-refresher>


        <div style="height: 40px; padding: 5px 8px;background:#E8E7E6;">
            <p style="float: left;line-height: 30px;font-size: 16px">故障列表</p>
            <div style="float: right;line-height: 30px;background: #E8E7E6" class="item-input-wrapper" ng-click="openPopover($event)">
                查询&nbsp;<i class="icon ion-ios-search-strong"></i>
            </div>
        </div>

        <ion-list>

            <ion-item class="row-no-padding" style="padding: 10px;" ng-repeat="f in faults" ng-click="openDeal(f.code,f.happen_dt)">
                <h2 style="display: inline-block"><strong>{{f.code}}-{{f.category}}</strong></h2>

                <p style="float: right ">{{f.happen_dt | allTime}} </p><br>

                <div style="width:200px;overflow:hidden; white-space:nowrap; text-overflow:ellipsis;float:left;display: inline-block;font-size: small">
                    {{f.describe}}
                </div>

                <p style="float: right;color: red;display: inline-block;font-family: 宋体">{{f.status}}</p>
            </ion-item>

        </ion-list>
        <ion-infinite-scroll immediate-check="false" ng-if="!isShow" on-infinite="nextData()" distance="1%"></ion-infinite-scroll>
    </ion-content>
</ion-view>

