<ion-view view-title="NRS性能参数" ng-controller="NRSPerformanceController as NRSPerformanceCtrl">
    <ion-content>
        <div>
            <ion-refresher pulling-text="刷新" on-refresh="NRSPerformanceCtrl.refreshData()"></ion-refresher>
            <div style="height: auto; background-color: rgba(36, 73, 114, 0.96);">
            <div class="inst-profile-nav top-0">
                <nav class="underline-nav" role="navigation">
                    <div class="underline-nav-item" role="tab"
                         ng-class="{'selected':NRSPerformanceCtrl.instNavItemIsSelected('agri')}"
                         ng-click="NRSPerformanceCtrl.selectInstNavItem('agri')">
                        <a>成像仪</a>
                    </div>
                    <div class="underline-nav-item" role="tab"
                         ng-class="{'selected':NRSPerformanceCtrl.instNavItemIsSelected('giirs')}"
                         ng-click="NRSPerformanceCtrl.selectInstNavItem('giirs')">
                        <a>探测仪</a>
                    </div>
                    <div class="underline-nav-item" role="tab"
                         ng-class="{'selected':NRSPerformanceCtrl.instNavItemIsSelected('lmi')}"
                         ng-click="NRSPerformanceCtrl.selectInstNavItem('lmi')">
                        <a>闪电仪</a>
                    </div>
                </nav>
            </div>
        </div>
        </div>
    </ion-content>
</ion-view>