<ion-view view-title="性能参数">
    <ion-content>
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right"
                      type="item-text-wrap" href="#/tab/capability/NRS">
                <h2>NRS系统性能参数</h2>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item-remove-animate item-avatar item-icon-right"
                      type="item-text-wrap" href="#/tab/capability/DTS">
                <h2>DTS系统性能参数</h2>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item-remove-animate item-avatar item-icon-right"
                      type="item-text-wrap" href="#/tab/capability/MRS">
                <h2>MRS系统性能参数</h2>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>