<ion-view view-title="性能参数">
    <ion-content>
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right"
                      type="item-text-wrap" href="#/tab/capability/NRS">
                <img src="img/gps.png">
                <h2>NRS系统性能参数</h2>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item-remove-animate item-avatar item-icon-right"
                      type="item-text-wrap" href="#/tab/capability/DTSMRS/DTS" >
                <img src="img/data-download.png">
                <h2>DTS系统性能参数</h2>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item-remove-animate item-avatar item-icon-right"
                      type="item-text-wrap" href="#/tab/capability/DTSMRS/MRS" >
                <img src="img/Application_213px_1194722_easyicon.net.png">
                <h2>MRS系统性能参数</h2>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>

            <ion-item class="item-remove-animate item-avatar item-icon-right"
                      type="item-text-wrap" href="#/tab/capability/MCS">
                <img src="img/database(1).png">
                <h2>MCS系统性能参数</h2>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>

            <ion-item class="item-remove-animate item-avatar item-icon-right"
                      type="item-text-wrap" href="#/tab/capability/CVS">
                <img src="img/database.png">
                <h2>CVS系统性能参数</h2>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>

            <ion-item class="item-remove-animate item-avatar item-icon-right"
                      type="item-text-wrap">
                <img src="img/cogs-icon.png">
                <h2>PGS系统性能参数</h2>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>

            <ion-item class="item-remove-animate item-avatar item-icon-right"
                      type="item-text-wrap">
                <img src="img/cogs-icon.png">
                <h2>SWS系统性能参数</h2>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>

            <ion-item class="item-remove-animate item-avatar item-icon-right"
                      type="item-text-wrap">
                <img src="img/cogs-icon.png">
                <h2>CNS系统性能参数</h2>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>

            <ion-item class="item-remove-animate item-avatar item-icon-right"
                      type="item-text-wrap">
                <img src="img/cogs-icon.png">
                <h2>DSS系统性能参数</h2>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>


        </ion-list>
    </ion-content>
</ion-view>