
<ion-view view-title="L1快视" ng-controller="L1FastViewController as L1FastViewCtrl"
          data-ng-init="L1FastViewCtrl.pageInit()">
    <ion-content overflow-scroll="true" style="overflow: auto">
        <ion-refresher pulling-text="刷新" on-refresh="L1FastViewCtrl.refreshData()"></ion-refresher>
        <div style="height: auto; background-color: rgba(36, 73, 114, 0.96);">
            <div class="inst-profile-nav top-0">
                <nav class="underline-nav" role="navigation">
                    <div class="underline-nav-item" role="tab"
                         ng-class="{'selected':L1FastViewCtrl.instNavItemIsSelected('agri')}"
                         ng-click="L1FastViewCtrl.selectInstNavItem('agri')">
                        <a>成像仪</a>
                    </div>
                    <div class="underline-nav-item" role="tab"
                         ng-class="{'selected':L1FastViewCtrl.instNavItemIsSelected('giirs')}"
                         ng-click="L1FastViewCtrl.selectInstNavItem('giirs')">
                        <a>探测仪</a>
                    </div>
                    <div class="underline-nav-item" role="tab"
                         ng-class="{'selected':L1FastViewCtrl.instNavItemIsSelected('lmi')}"
                         ng-click="L1FastViewCtrl.selectInstNavItem('lmi')">
                        <a>闪电仪</a>
                    </div>
                </nav>
            </div>
        </div>
        <!--<div class="big-img"-->
             <!--ng-if="L1FastViewCtrl.bigImgShow"-->
             <!--class="popover-backdrop" ng-click="L1FastViewCtrl.hideBigImg()">-->
            <!--<img class="img-responsive" src="{{L1FastViewCtrl.bigImgUrl}}"/>-->
        <!--</div>-->
        <div>
            <ion-list>
                <ion-item ng-repeat="taskItem in L1FastViewCtrl.currentTaskList | orderBy:['time']"
                          class="item-thumbnail-right"
                          ng-click="L1FastViewCtrl.showBigImg(taskItem.task_id)">
                    <div class="d-inline-block">
                        <h2>{{taskItem.name}} - {{taskItem.time | formatTime}}</h2>
                        <p>{{taskItem.task_id}}</p>
                    </div>
                    <a class="thum-img">
                        <img width="80" height="80" ng-src="{{taskItem.imgUrl}}"/>
                    </a>
                    <ion-option-button class="button-positive">分享</ion-option-button>
                    <ion-option-button class="button-info">查看</ion-option-button>
                </ion-item>
            </ion-list>
        </div>
  </ion-content>
</ion-view>
