<ion-view view-title="系统公告">
    <ion-content ng-click="show()">
        <div class="card">
            <div class="item item-divider" style="background: white">
                <p style="font-size: 16px;font-weight: 700">公告栏</p>
            </div>
            <div class="item item-text-wrap">
                <p>公告时间:</p>
                <p style="text-indent:28px">xxxx-xx-xx xx-xx-xx</p>
                <p>公告内容:</p>
                <p style="text-indent:28px">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
            </div>
            <div class="item item-divider" style="background: white">
                <p style="float: right">发布人:xxx</p>
            </div>
        </div>
    </ion-content>
</ion-view>