<ion-view view-title="发布公告">
    <ion-content>
            <div class="list" style="margin-top: 30px">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">发布时间</span>
                    <input type="text" placeholder="xxxx-xx-xx xx-xx-xx">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">发布内容</span>
                    <input type="text" placeholder="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">发布人</span>
                    <input type="text" placeholder="xxx">
                </label>
            </div>
            <div class="padding">
                <button class="button button-block button-positive">发布</button>
            </div>
    </ion-content>
</ion-view>