<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->

<!--<ion-tabs class="tabs-icon-top tabs-color-active-positive" >-->
<ion-tabs class="tabs-icon-top  tabs-stable tabs-color-active-positive" >

  <ion-tab title="L1快视" icon-off="icon ion-image" icon-on="icon ion-image" href="#/tab/building">
    <ion-nav-view name="tab-building"></ion-nav-view>
  </ion-tab>

  <ion-tab title="卫星遥测" icon-off="icon ion-ios-list" icon-on="icon ion-ios-list-outline" href="#/tab/building">
    <ion-nav-view name="tab-building"></ion-nav-view>
  </ion-tab>

  <ion-tab title="地面系统" icon-off="icon ion-ios-world" icon-on="icon ion-ios-world-outline" href="#/tab/subsystem">
    <ion-nav-view name="tab-subsystem"></ion-nav-view>
  </ion-tab>

  <ion-tab title="性能参数" icon-off="icon ion-ios-speedometer" icon-on="icon ion-ios-speedometer-outline" href="#/tab/building">
    <ion-nav-view name="tab-building"></ion-nav-view>
  </ion-tab>

  <ion-tab title="报警信息" icon-off="icon ion-ios-pulse-strong" icon-on="icon ion-ios-pulse" href="#/tab/building">
    <ion-nav-view name="tab-building"></ion-nav-view>
  </ion-tab>

</ion-tabs>
