body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select,img{margin:0;padding:0;}

/*新的*/
.main{
  background: #ffffff;
  overflow: hidden;
}
.head{
  height: 30px;
  background: #28CDE0;
  padding: 0px 10px;
}
.head p:nth-child(1) {
  float: left;
  line-height: 30px;
  color: white;
}
.head p:nth-child(2){
  float: right;
  line-height: 30px;
  color: white;
}

.rows{
  background: #E8E7E6;
}
.cola{
  width: auto;
  height: 25px;
  background: red;
  line-height: 25px;
  text-align: center;
  border-radius:8px;
}
.cola p{
  float: left;
  height: 25px;
  width: 100%;
  color: white;
}
.colaa{
  width: auto;
  height: 25px;
  background: white;
  line-height: 25px;
  text-align: center;
  border-radius:8px;
}
.colaa p{
  float: left;
  height: 25px;
  width: 100%;
}
.listall{
  background: #D9F4FD;
  background: white;
  height: 100%;
  width: 100%;
}
.colls{
  background: black;
  border-radius: 5px;
}
.cool{
  border: 1px solid #E8E7E6;
  padding-top: 5px!important;
  padding-bottom: 5px!important;
  margin-bottom: 0px!important;
  border-radius: 8px;
}