<ion-view view-title="{{rename}}" id="heightall">
  <ion-content class="main" scroll="false">
    <!--计划任务数-->
    <div class="observe">
      <h4>观测计划数</h4>
    </div>

    <div class="plan">

      <div class="planup">

        <div class="upleft">

          <div class="dayplan">

            <div>日计划</div>
            <div>{{day_plan}}</div>

          </div>
        </div>

        <div class="upright">

          <div class="daysucceed">

            <div>成功</div>
            <div>{{success}}</div>

          </div>
        </div>

      </div>

        <div class="planxia">

          <div class="upleft">

            <div class="current">

              <div>截至当前</div>
              <div>{{cur_plan}}</div>

            </div>
          </div>

          <div class="upright">

            <div class="failed">

              <div>失败</div>
              <div>{{failure}}</div>
            </div>
          </div>
        </div>
    </div>

    <!--任务列表-->
    <div class="planlist">
      <div class="observe">
        <h4>观测任务表</h4>
        <p ng-click="scrollTop()">回到顶部</p>
      </div>

      <ion-scroll class="scrolls" direction="y" style="margin-top: 2px;" ng-style="gird_height" delegate-handle="small">
        <ion-refresher class="pull" pulling-text="下拉刷新" on-refresh="new()"></ion-refresher>
        <div class="row row-wrap"><!-- ng-click="taskall(x.id)"-->
            <div class="col-25 cool button button-icon" ng-repeat="x in listDate | orderBy:'time'" style="background: {{upBackground(x.status)}};line-height: 15px;color: white;margin-bottom: 10px" ng-click="taskdetail(x.task_id,x.name,x.time)">
                <div class="colls">
                  <p>{{x.name | names}}</p>
                  <p>{{x.time| fourTime}}</p>
                </div>
            </div>
        </div>
      </ion-scroll>
    </div>
  </ion-content>
</ion-view>
