<ion-view view-title="任务表">
  <ion-content overflow-scroll="false" style="overflow: hidden">
    <!--当前状态-->
    <ion-refresher class="pull" pulling-text="下拉刷新" on-refresh="news()"></ion-refresher>
    <div class="tasks">
      <div class="statuss">
        <p>当前任务:</p>
        <p>{{task_id | taskname}}</p>
      </div>

        <ion-list class="tasklists">
          <ion-item class="taskitem items" ng-repeat="t in taskalls[0].sys" style="background: #E8E7E6;">

            <div class="tasklist">

              <h4 style="background:{{upbackground(t.status)}}">{{t.name}}</h4>

              <div class="tasktime">
                <div class="taskone">
                  <div class="oneleft">
                    <p>计划开始时间:{{t.plan_start_dt | fourTime}}</p>
                    <p>实际开始时间:{{t.real_start_dt| fourTime}}</p>
                  </div>
                  <div class="oneright">
                    <p style="background:{{upbackground(t.status)}}">输入</p>
                    <p>{{t.plan_input}}/{{t.plan_output}}</p>
                  </div>
                </div>
              </div>

              <div class="tasktime">
                <div class="tasktwo">
                  <div class="oneleft">
                    <p>计划结束时间:{{t.plan_end_dt | fourTime}}</p>
                    <p>实际结束时间:{{t.real_end_dt | fourTime}}</p>
                  </div>
                  <div class="oneright">
                    <p style="background:{{upbackground(t.status)}}">输出</p>
                    <p>{{t.real_input}}/{{t.real_output}}</p>
                  </div>
                </div>
              </div>

              <div class="end">
                <p>任务状态</p><span style="color:{{upbackground(t.status)}}">{{t.end_status}}</span>
              </div>
            </div>
          </ion-item>
        </ion-list>
    </div>
  </ion-content>
</ion-view>
