<ion-view view-title="L1快视">
  <ion-content>
    <!--<ion-list>-->
      <!--<ion-item class="item-remove-animate item-avatar item-icon-right " type="item-text-wrap" href="#/tab/fastView/{{data.instname}}">-->
        <!--<img ng-src="icon ion-plus-round">-->
        <!--添加仪器-->
      <!--</ion-item>-->
      <!--<ion-item class="item-remove-animate item-avatar item-icon-right " ng-repeat="data in jsonData" type="item-text-wrap" href="#/tab/fastView/{{data.instname}}">-->
        <!--<img ng-src="img/BO_Product_Group_32x32.png" style="width: 32px;height: 32px" >-->
        <!--<h2 style="margin-bottom: 5px">{{data.instname}}</h2>-->
        <!--<h4>通道个数: {{data.totalchnum}}</h4>-->
        <!--<i class="icon ion-chevron-right icon-accessory"></i>-->
      <!--</ion-item>-->

      <div ng-repeat="data in jsonData"
           style="width: 25%;
           font-family: Microsoft Yi Baiti;
           font-size: 13px;
           height:55px;
           margin-right:0px;
           line-height: 18PX ;
           margin-bottom:15px;
           background: transparent;
           margin-top: 15px"
           class="button button-icon icon-top button-positive  "
           ng-click="updateFileList(data.instname)">
        <img style="width: 32px;height: 32px" ng-src="img/BO_Product_Group_32x32.png">
        <h5 style="margin-bottom: 5px">{{data.instname}}</h5>
      </div>

    <!--</ion-list>-->
  </ion-content>
</ion-view>
