.roundedOne {
  width: 12px;
  height: 12px;
  position: relative;
  background: #fcfff4;
  left: 5px;
  top: 5px;
  /*background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);*/
  /*background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);*/
  /*background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);*/
  /*-moz-border-radius: 50px;*/
  /*-webkit-border-radius: 50px;*/
  border-radius: 50px;
  /*-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);*/
  /*-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);*/
  /*box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);*/
}

.roundedOne label {
  width: 12px;
  height: 12px;
  cursor: pointer;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: darkgray;
  /*background: -moz-linear-gradient(top, #222222 0%, #45484d 100%);*/
  /*background: -webkit-linear-gradient(top, #222222 0%, #45484d 100%);*/
  /*background: linear-gradient(to bottom, #222222 0%, #45484d 100%);*/
  /*-moz-border-radius: 50px;*/
  /*-webkit-border-radius: 50px;*/
  border-radius: 50px;
  /*-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;*/
  /*-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;*/
  /*box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;*/
}
.roundedOne label:after {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  top: 1px;
  left: 1px;
  background: #75ff64;
  /*background: -moz-linear-gradient(top, #00bf00 0%, #009400 100%);*/
  /*background: -webkit-linear-gradient(top, #00bf00 0%, #009400 100%);*/
  /*background: linear-gradient(to bottom, #00bf00 0%, #009400 100%);*/
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  /*-moz-border-radius: 50px;*/
  /*-webkit-border-radius: 50px;*/
  border-radius: 50px;
  /*-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);*/
  /*-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);*/
  /*box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);*/
}
.roundedOne label:hover::after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}
.roundedOne input[type=checkbox] {
  visibility: hidden;
}
.roundedOne input[type=checkbox]:checked + label:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
