/* Empty. Add your own CSS if you like */
.tab-item  i.icon {
  margin-top: 1px;
}
.bar-home-on {
  background: url(../img/Demo_Image_Properties_32x32.png) no-repeat center top
}

.bar-home-off {
  background: url(../img/Demo_Image_Properties_32x32.png) no-repeat center top
}

.separator {
  position: relative;
  margin-left: 60%;
  margin-top: 10%;
  height:40px;
  /*margin-top: 30px;*/
  background: darkgray;
  border-left-style:solid;
  border-bottom-style:none;
  border-right-style:none;
  border-top-style:none;
  vertical-align: middle;
}

.col{
  background-color: #F9FAFB;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  text-align: center;
  height: 85px;
  vertical-align: middle;
}

.cellcol{
  background-color: #F9FAFB;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  height: 36px;
  width: 100%;
}

.sensorButton{
  width: 100%;
  margin-top: 10px;
  text-align: center;
}

.systemButton{
  width: 100%;
  font-size: 13px;
  height:100%;
  line-height: 18PX ;
  margin-bottom:5px;
  margin-top: 13px;
  text-align:center;
}

.size img{
  width: 30px;
  height: 30px
}

.spacol{
  background-color: transparent;
  text-align: center;
  height: 100%;
  vertical-align: middle;
  width: 100%;
  border: 0px;
}

